.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  margin-bottom: 15%;
}

@media screen and (max-width: 1024px) {
  .footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  margin-bottom: 15%;
  margin-top: 45%;
}
}

@media screen and (max-width: 544px) {
  .footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  margin-bottom: 15%;
}
}
