.intro {
  max-width: 984px;
  height: 482px;
}

.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  min-height: 116px;
  margin-bottom: 3%;
}

.intro__quote {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  max-width: 738px;
  min-height: 68px;
  margin-bottom: 1%;
}

.intro__quote-autor {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  max-width: 732px;
  min-height: 34px;
  margin-bottom: 3%;
}

.intro__paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  max-width: 722px;
  min-height: 182px;
}


@media screen and (max-width: 1024px) {
  .intro {
  max-width: 720px;
  height: 490px;
}
.intro__title {
  font-weight: 900;
  font-size: 45px;
  line-height: 49px;
  min-height: 98px;
  margin-bottom: 3%;
}

.intro__quote {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  max-width: 720px;
  min-height: 102px;
  margin-bottom: 1%;
}

.intro__quote-autor {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  max-width: 720px;
  min-height: 34px;
  margin-bottom: 3%;
}

.intro__paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  max-width: 720px;
  min-height: 182px;
}
}


@media screen and (max-width: 744px) {
  .intro {
  max-width: 540px;
  height: 625px;
}

.intro__title {
  font-weight: 900;
  font-size: 45px;
  line-height: 49px;
  min-height: 98px;
  margin-bottom: 3%;
  max-width: 530px;
}

.intro__quote {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  max-width: 540px;
  min-height: 102px;
  margin-bottom: 1%;
}

.intro__quote-autor {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  max-width: 500px;
  min-height: 34px;
  margin-bottom: 3%;
}

.intro__paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  max-width: 500px;
  min-height: 182px;
}
}


@media screen and (max-width: 544px) {
  .intro {
  max-width: 288px;
  height: 878px;
}
.intro__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  max-width: 288px;
  min-height: 140px;
  margin-bottom: 10%;
}

.intro__quote {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  max-width: 288px;
  min-height: 180px;
}

.intro__quote-autor {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  max-width: 288px;
  min-height: 34px;
  margin-bottom: 10%;
}

.intro__paragraph {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  max-width: 288px;
  min-height: 442px;
}
}