.photo-grid {
  max-width: 1184px;
  height: 442px;
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: repeat(4, 250px);
  gap: 16px;
  margin: 8% 0 10%;
}
.photo-grid__image {
    width: 250px;
    height: 200px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 720px;
    height: 1104px;
    display: grid;
    grid-template-rows: repeat(4, 264px);
    grid-template-columns: 352px 352px;
  }
  .photo-grid__image {
    width: 352px;
    height: 264px;
  }
}


@media screen and (min-width: 545px) and (max-width: 744px) {
  .photo-grid {
    max-width: 545px;
    height: 1104px;
    display: grid;
    grid-template-rows: repeat(4, 250px);
    grid-template-columns: 250px 250px;
  }
  .photo-grid__image {
    width: 250px;
    height: 250px;
  }
}


@media screen and (max-width: 544px) {
  .photo-grid {
    max-width: 288px;
    height: 1818px;
    display: grid;
    grid-template-rows: repeat(8, 216px);
    grid-template-columns: 288px;
    gap: 16px;
  }
  .photo-grid__image {
    width: 288px;
    height: 216px;
  }
}