.places {
  max-width: 984px;
  display: grid;
  grid-template-rows: repeat(8, auto);
  grid-template-columns: 984px;
  row-gap: 80px;
}

.places__location {
  width: 100%;
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  gap: 40px;
}

/* .places__location-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.places__location-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.places__location-title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  width: 460px;
}

.places__location-image {
  width: 460px;
  height: 460px;
  margin: 48px 0;
}

.places__location-button {
  color: white;
  background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  width: 356.08233642578125;
  height: 48;
  top: 3187px;
  left: 148px;
  opacity: 1;
  border-radius: 4px;
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 20px;
  gap: 10px;
  cursor: pointer;
}
.places__link {
  text-decoration: none;
  color: white;
  background: none;
}

.places__artists {
  color: #AAAAAA;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  margin: 0 0 8px;
}

.places__artists_first {
  margin-top: 35%;
}

.places__artists_second {
  margin-top: 6%;
}

.places__artists_third {
  margin-top: 22%;
}

.places__artists_quart {
  margin-top: 22%;
}

.places__artist-info {
font-weight: 400;
font-size: 18px;
line-height: 22px;
margin-bottom: 48px;
}

.places__paragraphs {
  display: grid;
  grid-template-columns: 484px;
  row-gap: 25px;
}

.places__paragraph-content {
font-weight: 400;
font-size: 18px;
line-height: 163%;
}